/vendor/
/composer.lock
.idea/

# File-based project format
*.iws
*.iml

# JIRA plugin
atlassian-ide-plugin.xml

# Gradle and Maven with auto-import
auto-import.
.idea/artifacts
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/modules.xml
.idea/*.iml
.idea/modules
*.iml
*.ipr

# Symfony2 Plugin
/.idea/symfony2.xml

# Documentation
/docs/_build/
/docs/api
/docs/api.rst
